:host {
    background-color: #8ed2c9;
}

h1 {
    color: white;
    font-weight: bold;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    background: url(/assets/images/main-background.png);
    background-repeat-y: no-repeat;
    color: #F5F5F5;
    height: 458px;
    padding: 30px 15px;
    position: relative;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);

    .container {
        width: 30em;

        ul>li {
            font-size: 2.5em;
            text-align: justify;
            text-shadow: 2px 2px #444444;
        }

        p {
            font-size: 2em;
            font-weight: lighter;
        }
    }
}

.navbar-text {
    margin-left: 15px;
}

.btn.btn-custom {
    background-color: #e8d2c9;
    font-size: 2em;
}
